aiohttp
aiosignal
attrs
backoff
bcrypt
certifi
charset-normalizer
chromadb
coloredlogs
dataclasses-json
fastapi
google-auth
huggingface-hub
httpx
idna
Jinja2
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
numpy
protobuf
python-dateutil
python-dotenv
PyYAML
requests
rich
scikit-learn
sentence-transformers
SQLAlchemy
python-telegram-bot
tenacity
torch
transformers
uvicorn
zipp